:root {
  --body-color: #b5d48f;
  --sidebar-color: #8da876;
  --links-container-hover: #49692f;
  --toggle-color: #6e835c;
  --toggle-color-hover: #7e9768;

  --body-darkmode-color: rgb(30, 43, 19);
  --sidebar-darkmode-color: #37412e;
  --links-container-darkmode-hover: #233317;
  --toggle-color-darkmode: #2d3526;
  --toggle-color-darkmode-hover: #38422f;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: var(--body-color);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: var(--sidebar-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: width 0.3s ease;
}

.profile {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userimage {
  width: 95px;
  height: 80px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

h4 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.toggle1 img {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 20px;
  right: -20px;
  background-color: var(--toggle-color);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(180deg);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle1 img:hover {
  background-color: var(--toggle-color-hover);
  transform: scale(1.1) rotate(180deg);
}

.toggle1.active {
  transform: rotate(0deg);
}

.toggle1.active:hover {
  transform: scale(1.1);
}

.search {
  padding: 10px 10px;
  margin: 0px 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: var(--body-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.search input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: var(--body-color);
  transition: opacity 0.3s ease;
}

.search img {
  width: 30px;
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.links .link-container {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.links .link-container:hover {
  background-color: var(--links-container-hover);
}

.links img {
  width: 30px;
  margin-right: 10px;
}

.links a {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #333333;
  transition: opacity 0.3s ease;
}

.links .link-container:hover a {
  color: white;
}

.collapsed {
  width: 90px;
}

.collapsed .userimage,
.collapsed h4,
.collapsed .search input,
.collapsed .links a {
  opacity: 0;
}

.dark-mode {
  position: absolute;
  margin: 7px;
  padding: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.dark-color {
  background-color: var(--body-darkmode-color);
}

.dark-color .dark-mode {
  filter: brightness(0) invert(1);
}

.dark-color .toggle1 img {
  background-color: var(--toggle-color-darkmode);
}

.dark-color .toggle1 img:hover {
  background-color: var(--toggle-color-darkmode-hover);
  color: white;
}

.dark-color .sidebar {
  background-color: var(--sidebar-darkmode-color);
  color: white;
}

.dark-color .search input[type="text"] {
  background-color: var(--body-darkmode-color);
  color: white;
}

.dark-color .search {
  background-color: var(--body-darkmode-color);
}

.dark-color .links a {
  color: white;
}

.dark-color .links .link-container:hover {
  background-color: var(--links-container-darkmode-hover);
}

.dark-color .search img {
  filter: brightness(0) invert(1);
}

.dark-color .links .link-container img {
  filter: brightness(0) invert(1);
}
